/*============================================================================
	#14. Featured style
==============================================================================*/
.featured{
  position: relative;
  padding: 200px 0;
  @media #{$xl-layout} {
    padding: 150px 0;
  }
  @media #{$lg-layout, $md-layout, $xs-layout} {
    padding: 80px 0;
  }
  .section-title{
    letter-spacing: 0;
  }
}