/*============================================================================
	#10. Welcome style
==============================================================================*/
.welcome-area{
  position: relative;
  padding: 200px 0 100px;
  margin-top: -280px;
  background:url('#{$assetPath}/welcome/bg.png') no-repeat center center;
  background-size: cover;

  @media (max-width: 320px){
   overflow: hidden;
  }
  
  &:before{
    content: '';
    position: absolute;
    background:url('#{$assetPath}/welcome/bg_line.png') no-repeat bottom center;
    background-size: cover;
    width: 100%;
    height: 200px;
    bottom: -154px;
    left: 0;
    @media #{$lg-layout, $md-layout, $xs-layout} {
      bottom:-10%;
    }
  }
  .container{
    max-width: 690px;
  }

  p{
    margin-bottom: 75px;
    text-align: justify;
  }
  h5{
    font-family: $zilla;
    font-size: $font-20+1;
    font-style: italic;
    line-height: 1.524;
  }

}
