<article class="blog-item banner-item">
    <figure>
        <a href="single.html" class="thumb-nails"><img src="img/blog/blog-5.png" alt="blog-title"></a>
        <figcaption>
            <header>
                <a href="single.html" class="title"><h4>This Is Your Brain On Anger</h4></a>
                <span class="d-block meta">
                                      <span>Date: <a href="#">14.Apr.2020</a></span>―<span class="ml-3">Category: <a
                        href="#">Public</a></span>
                                   </span>
            </header>
        </figcaption>
    </figure>
</article>