<article class="blog-item">
    <figure>
        <a href="single.html" class="thumb-nails"><img src="img/blog/large-blog.png" alt="blog-title"></a>
        <figcaption>
            <header>
                <a href="single.html" class="title"><h4>Make A Move</h4></a>
                <span class="d-block meta">
                                       <span>Date: <a href="#">14.Apr.2020</a></span>―<span class="ml-3">Category: <a
                        href="#">Public</a></span>
                                   </span>
            </header>
            <p>Hey guys, guess what? It’s April next week.
                APRIL! Anyone else feel like this year is just speeding right along? We’re out
                of </p>
            <footer>
                <a href="single.html" class="read-more-btn">Read More <i class="fa fa-angle-right"></i></a>
            </footer>
        </figcaption>
    </figure>
</article>