<article class="blog-item small-blog-item">
    <figure>
        <a href="single.html" class="thumb-nails"><img src="img/blog/blog-1.png" alt="blog-title"></a>
        <figcaption>
            <header>
                <a href="single.html" class="title"><h4>If Not Now, When?</h4></a>
                <span class="d-block meta">
                                      <span>Date: <a href="#">14.Apr.2020</a></span>―<span class="ml-3">Category: <a
                        href="#">Public</a></span>
                                   </span>
            </header>
            <p>If not now, when? Life is not about sitting back and watching the world pass you by.
                It’s not about hiding behind your safe... </p>
            <footer>
                <a href="single.html" class="read-more-btn">Read More <i class="fa fa-angle-right"></i></a>
            </footer>
        </figcaption>
    </figure>
</article>
<article class="blog-item small-blog-item">
    <figure>
        <a href="single.html" class="thumb-nails"><img src="img/blog/blog-2.png" alt="blog-title"></a>
        <figcaption>
            <header>
                <a href="single.html" class="title"><h4>Past. Present. Future.</h4></a>
                <span class="d-block meta">
                                      <span>Date: <a href="#">14.Apr.2020</a></span>―<span class="ml-3">Category: <a
                        href="#">Public</a></span>
                                   </span>
            </header>
            <p>Which one do you live in? Nowadays, you can’t avoid the phrase “Be present”. But what
                does that truly mean and why is... </p>
            <footer>
                <a href="single.html" class="read-more-btn">Read More <i class="fa fa-angle-right"></i></a>
            </footer>
        </figcaption>
    </figure>
</article>
<article class="blog-item small-blog-item">
    <figure>
        <a href="single.html" class="thumb-nails"><img src="img/blog/blog-3.png" alt="blog-title"></a>
        <figcaption>
            <header>
                <a href="#" class="title"><h4>Going Postal</h4></a>
                <span class="d-block meta">
                                      <span>Date: <a href="#">14.Apr.2020</a></span>―<span class="ml-3">Category: <a
                        href="single.html">Public</a></span>
                                   </span>
            </header>
            <p>Adult bullying has a MAJOR impact on your health, especially when it’s in the
                workplace. Too many times we hear about... </p>
            <footer>
                <a href="single.html" class="read-more-btn">Read More <i class="fa fa-angle-right"></i></a>
            </footer>
        </figcaption>
    </figure>
</article>
<article class="blog-item small-blog-item">
    <figure>
        <a href="single.html" class="thumb-nails"><img src="img/blog/blog-4.png" alt="blog-title"></a>
        <figcaption>
            <header>
                <a href="single.html" class="title"><h4>Predefined Since Birth</h4></a>
                <span class="d-block meta">
                                      <span>Date: <a href="#">14.Apr.2020</a></span>―<span class="ml-3">Category: <a
                        href="#">Public</a></span>
                                   </span>
            </header>
            <p>I was the shy one. I barely spoke. I didn’t feel like it. But I was instantly given
                that label as a young child. “She’s quiet. She’s...</p>
            <footer>
                <a href="single.html" class="read-more-btn">Read More <i class="fa fa-angle-right"></i></a>
            </footer>
        </figcaption>
    </figure>
</article>