<article class="blog-item blog-item__banner">
    <div class="blog-item__comment-info">
        <span>Comments (0)</span>
        <a href="#" class="float-right blog-item__share">share <i class="fa fa-share-alt ml-2"></i></a>
    </div>
    <figure class="subscribe-banner">
        <img src="img/blog/banner-4.png" alt="banner">
        <figcaption>
            <h3 class="font-weight-black subscribe-banner__title">Sign Up to KforKira</h3>
            <p class="mb-20">Get access to premium content.</p>
            <h3 class="mb-20 font-weight-black">$60.00 <span class="d-block text-uppercase">Regular price</span></h3>
            <a href="#" class="btn">Subscribe</a>
        </figcaption>
        <span class="overlay"></span>
    </figure>
</article>