<article class="blog-item blog-item__content">
    <header>
        <a href="#" class="title"><h3>Make A Move</h3></a>
        <span class="d-block meta">
                                       <span>Date: <a href="#">14.Apr.2020</a></span>―<span class="ml-3">Category: <a
                href="#">Public</a></span>
                                <a href="#" class="float-lg-right float-md-right float-sm-none  blog-item__share">share <i class="fa fa-share-alt ml-2"></i></a>
                            </span>
    </header>
    <hr>
    <p>Hey guys, guess what? It’s April next week.</p>
    <p>APRIL! </p>
    <figure>
        <img src="img/blog/large-blog.png" alt="blog-title">
    </figure>
    <p>Anyone else feel like this year is just speeding right along? We’re out of the 1st quarter of
        the year. Now onto the 2nd. Have you moved yet?</p>

    <p>Those action plans and goals that you thought about late last year, have you made any movement
        on them? Time doesn’t stand still. The clock keeps ticking away. We can THINK we have control
        over our lives, but one thing you absolutely can not do is reverse time.</p>

    <p>Get your shit together. Make those shifts and changes that you talked about late last year.
        Inaction breeds self-doubt and fear.</p>

    <p> Move a move!</p>

    <p> ACCOUNTABILITY.</p>

    <p>We all need it when we’re serious about making changes in our lives. So instead of holding
        yourself accountable, which rarely works. Find a friend/partner, tell them that you want to
        get x accomplished by x date, and have THEM stay on your a$$. And then you can return the
        favor and help them with their goals. It’s AMAZING how much you can accomplish with the help
        from ours keeping you in check.</p>

    <p> Write down what you want to get done by the end of April, May, and June and put it in your
        calendar. Then set easy weekly to-do’s that will get you to ‘mission accomplished’ by the end of
        the month.</p>

    <p> It’s time to get serious about what you want to change in your life and take action! Time will
        not wait for you.</p>

    <p>  When will you make your move?</p>
    <footer>
        <a href="#" class="btn"> Podcasts</a>
    </footer>
</article>