<!--/.blog-area start-->
<section class="blog-area blog-area__single">
    <div class="container custom-container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <!--    include blog-item-content.html single component here-->
                <!--    include blog-item-banner.html single component here-->
                <!--    include related.html single component here-->
            </div>
            <aside class="col-lg-4 col-md-4 col-sm-12 col sidebar">
                <!--    include subscribe-banner.html sidebar component here-->
                <!--    include category.html sidebar component here-->
                <!--    include postal-card.html sidebar component here-->
                <!--    include testimonial-panel.html sidebar component here-->
                <!--    include subscribe-banner-member.html sidebar component here-->
            </aside>
        </div>
    </div>
</section>
<!--/.blog-area end-->