<div class="widget categpory mb-80">
    <h6 class="mb-70 text-center widget-title">CATEGORIES</h6>
    <ul class="list-unstyled categories">
        <li><a href="#" class="d-flex justify-content-between">Inspiration <span
                class="count">(4)</span></a></li>
        <li><a href="#" class="d-flex justify-content-between">Life Purpose <span
                class="count">(12)</span></a></li>
        <li><a href="#" class="d-flex justify-content-between">Mental Health <span
                class="count">(3)</span></a></li>
        <li><a href="#" class="d-flex justify-content-between">Personal Power <span class="count">(7)</span></a>
        </li>
        <li><a href="#" class="d-flex justify-content-between">Podcasts<span
                class="count">(9)</span></a></li>
    </ul>
</div>