<article class="postal-card text-center mb-40">
    <figure>
        <img src="img/blog/banner-2.png" alt="donating">
        <header>
            <a href="#"> <h6 class="text-center widget-title">Donating</h6></a>
        </header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>

        <h5>Going Postal</h5>

        <ul class="list-unstyled price-list">
            <li><a href="#"><i class="fa fa-heart mr-2"></i> $3 / month</a></li>
            <li><a href="#"><i class="fa fa-heart mr-2"></i> $5 / month</a></li>
            <li><a href="#"><i class="fa fa-heart mr-2"></i> $7 / month</a></li>
            <li><a href="#"><i class="fa fa-heart mr-2"></i> $10 / month</a></li>
            <li><a href="#"><i class="fa fa-heart mr-2"></i> $25 / month</a></li>
        </ul>
        <footer>
            <a href="#" class="btn">Start Now</a>
        </footer>
    </figure>

</article>