<div class="testimonial-panel mb-40">
    <h6 class="mb-70 text-center widget-title">testimonials</h6>
    <div class="testimonial-panel-slider">
        <blockquote class="testimonial-item">
                        <span class="qoute mb-35">
                            <img src="img/shape/quote.png" alt="quote">
                        </span>
            I didn’t think anyone cared about what men really struggled with. And then I discovered K for
            Kira. Her words have had such an enormous positive impact on my life. Huge fan!

            <footer>
                <h6> ― Adam H.</h6>
            </footer>
        </blockquote>
        <blockquote class="testimonial-item">
                        <span class="qoute mb-35">
                            <img src="img/shape/quote.png" alt="quote">
                        </span>
            I didn’t think anyone cared about what men really struggled with. And then I discovered K for
            Kira. Her words have had such an enormous positive impact on my life. Huge fan!

            <footer>
                <h6> ― Adam H.</h6>
            </footer>
        </blockquote>
        <blockquote class="testimonial-item">
                        <span class="qoute mb-35">
                            <img src="img/shape/quote.png" alt="quote">
                        </span>
            I didn’t think anyone cared about what men really struggled with. And then I discovered K for
            Kira. Her words have had such an enormous positive impact on my life. Huge fan!

            <footer>
                <h6> ― Adam H.</h6>
            </footer>
        </blockquote>
    </div>
</div>