<!--/.subscribe-members start-->
<section class="subscribe-members__only">
    <article>
        <figure class="m-0">
            <img class="banner-img" src="img/bg/bg-members.png" alt="">
            <figcaption class="text-center text-white">
                <h1 class="mb-30 font-weight-black">Members</h1>
                <i class="fa fa-lock"></i>
                <span class="d-block tag mb-30 text-secondary-color">Memebers</span>
                <p class="mb-30 font-weight-black">This page is for subscribers only</p>

                <a href="#" class="btn">Subscribe Now</a>
            </figcaption>
        </figure>
    </article>
</section>
<!--/.subscribe-members end-->