<!--/.podcast-audio start-->
<section class="podcast-audio">
    <figure class="m-0">
        <img class="banner-img" src="img/bg/bg-podcasts.png" alt="podcast">
        <figcaption class="container">
            <header class="mb-70 text-center col-8 ml-auto mr-auto">
                <h1 class="font-weight-black text-white">Podcasts </h1>
            </header>
            <div class="row">
                <div class="col-7 m-auto text-center">
                    <figure>
                        <img src="img/podcast/podcast.png" alt="podcast-title">
                    </figure>
                    <figure>
                        <img src="img/podcast/podcast.png" alt="podcast-title">
                    </figure>
                    <figure>
                        <img src="img/podcast/podcast.png" alt="podcast-title">
                    </figure>

                    <div class="podcast-audio__btn-wraper">
                        <a href="#" class="read-more-btn">More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </figcaption>
    </figure>
</section>
<!--/.podcast-audio end-->