<div class="row align-items-center story_item">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <figure>
            <img src="img/story/story-img-1.png" alt="story">
        </figure>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h2 class="font-weight-black mb-50 h1">Who is <br>
            Kira Mamula</h2>
        <p class="mb-40">Kira Mamula is a highly-sought after Men's Wellness Advocate and Life Empowerment
            Advisor. Kira
            focuses on the individual as well as the collective, utilizing the science of<span class="extension">...</span>

            <span class="extent-content">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur aut cum distinctio dolorem, expedita,
                           hic illum maxime, nihil optio perferendis provident quisquam quo quod repudiandae sed tempora vero. Minima!
                       </span>
        </p>
        <a href="#" class="read-more-btn">Read More <i class="fa fa-angle-right"></i></a>
    </div>
    <img class="story_item__one__border__line" src="img/story/border-line-1.png" alt="border">
</div>