<!-- /.story start -->
<section class="story" style="background-image: url('img/bg/bg-story.png')">
    <div class="container custom-container ">
        <header class="title text-center">
            <h1 class="font-weight-black">My Story</h1>
        </header>
        <!--        include story item 1 here-->
        <!--        include story item 2 here-->
        <!--        include story item 3 here-->
        <!--        include story item 4 here-->
    </div>
</section><!-- /.story end -->