<div class="row align-items-center story_item">
    <div class="col-lg-6 col-md-6 col-sm-12 ">
        <figure>
            <img src="img/story/story-img-3.png" alt="story">
        </figure>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h2 class="font-weight-black mb-50 h1">How it all<br> Began</h2>
        <p class="mb-40">Before finding her life path in guiding others towards a more fulfilled life, Kira had a successful 12-year sales career at some of the largest companies in the world,
            such as Cox Enterprises and Google<span class="extension">...</span>
            <span class="extent-content">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur aut cum distinctio dolorem, expedita,
                           hic illum maxime, nihil optio perferendis provident quisquam quo quod repudiandae sed tempora vero. Minima!
                       </span>
        </p>
        <a href="#" class="read-more-btn">Read More <i class="fa fa-angle-right"></i></a>
    </div>
    <img class="story_item__three__border__line" src="img/story/border-line-3.png" alt="border">
</div>