<div class="row align-items-center story_item story_item__four">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <figure>
            <img src="img/story/story-img-4.png" alt="story">
        </figure>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 order-lg-first order-md-first order-2">
        <h2 class="font-weight-black mb-50 h1">But Why the Fine <br> Art Nude Photos?</h2>
        <p class="mb-40">In growing up in a family of gifted artists, Kira was taught to embrace the human body form as a masterpiece.
            Her parents raised her and her siblings amongst the art and cultural world<span class="extension">...</span>
            <span class="extent-content">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur aut cum distinctio dolorem, expedita,
                           hic illum maxime, nihil optio perferendis provident quisquam quo quod repudiandae sed tempora vero. Minima!
                       </span></p>
        <a href="#" class="read-more-btn">Read More <i class="fa fa-angle-right"></i></a>
    </div>
</div>