<div class="row align-items-center story_item">
    <div class="col-lg-6 col-md-6 col-sm-12 ">
        <figure>
            <img src="img/story/story-img-2.png" alt="story">
        </figure>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 order-lg-first order-md-first order-2">
        <h2 class="font-weight-black mb-50 h1">Mens <br> Advocacy</h2>
        <p class="mb-40">She accomplishes this by educating both men AND women through published articles,
            blog posts,
            podcasts, speaking engagements, and outreach through all social media platforms<span class="extension">...</span>
            <span class="extent-content">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur aut cum distinctio dolorem, expedita,
                           hic illum maxime, nihil optio perferendis provident quisquam quo quod repudiandae sed tempora vero. Minima!
                       </span>
        </p>
        <a href="#" class="read-more-btn">Read More <i class="fa fa-angle-right"></i></a>
    </div>
    <img class="story_item__two__border__line" src="img/story/border-line-2.png" alt="border">
</div>