<!--/.blog-area start-->
<section class="blog-area">
    <div class="container custom-container">
<!--        include black-shape-section-title.html common component here-->
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <!--    include large-article-item.html article component here-->
                <!--    include divider.html component here-->
                <!--    include small-article-item-1.html article component here-->
                <!--    include banner-article-item.html article component here-->
                <!--    include small-article-item-2.html article component here-->

                <div class="text-center btn-wpper">
                    <a href="#" class="btn mt-5"> All Posts</a>
                </div>

            </div>
            <aside class="col-lg-4 col-md-4 col-sm-12 col sidebar">
                <!--    include subscribe-banner.html sidebar component here-->
                <!--    include category.html sidebar component here-->
                <!--    include postal-card.html sidebar component here-->
                <!--    include testimonial-panel.html sidebar component here-->
                <!--    include subscribe-banner-member.html sidebar component here-->
            </aside>
        </div>
    </div>
</section>
<!--/.blog-area end-->

