<!--/.featured start-->
<section class="featured">
    <div class="container custom-container">
        <header class="mb-100 text-center">
            <span class="section-title h2 d-block">Kira has been featured on</span>
            <img src="img/shape/shape.png" alt="title">
        </header>
        <div class="row align-items-center ">
            <figure class="col-lg-3 col-md-3 col-col-sm-4 mt-0 text-center">
                <img src="img/feature/brand-1.png" alt="feature-title">
            </figure>
            <figure class="col-lg-3 col-md-3 col-col-sm-4 mt-0 text-center">
                <img src="img/feature/brand-2.png" alt="feature-title">
            </figure>
            <figure class="col-lg-3 col-md-3 col-col-sm-4 mt-0 text-center">
                <img src="img/feature/brand-3.png" alt="feature-title">
            </figure>
            <figure class="col-lg-3 col-md-3 col-col-sm-4 mt-0 text-center">
                <img src="img/feature/brand-4.png" alt="feature-title">
            </figure>
        </div>
    </div>
</section>
<!--/.featured end-->