<!--/.podcast start-->
<section class="podcast">
    <div class="container custom-container">
        <header class="mb-100 text-center">
            <span class="section-title h2 d-block">Podcasts</span>
            <img class="mb-35" src="img/shape/shape.png" alt="title">
            <p>Recent episodes featuring Kira</p>
        </header>
        <div class="row mb-80">
            <div class="col-lg-6 col-md-6 col-sm-12">
<!--               include podcast video form common component-->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!--  include podcast video form common component comment section-->
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <!--                    include sketch-btn-black.html form common component-->
            </div>
        </div>
    </div>
</section>
<!--/.podcast end-->
