<!--/.social-media start-->
<section class="social-media">
    <div class="container text-center">
        <header class="mb-80 text-center">
            <span class="section-title h2 d-block">Stay In Touch With Me</span>
            <img src="img/shape/shape.png" alt="title">
        </header>
        <div class="row social-media-link justify-content-center">
            <figure class="col-lg-3 col-md-4 col-sm-6 text-center social-media-item">
                <a href="#">
                    <img src="img/social-shape/shape-1.png" alt="title">
                    <i class="fa fa-mobile-alt"></i>
                </a>
            </figure>
            <figure class="col-lg-3 col-md-4 col-sm-6 text-center social-media-item">
                <a href="#">
                    <img src="img/social-shape/shape-2.png" alt="title">
                    <i class="fab fa-instagram"></i>
                </a>
            </figure>
            <figure class="col-lg-3 col-md-4 col-sm-6 text-center social-media-item">
                <a href="#">
                    <img src="img/social-shape/shape-3.png" alt="title">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </figure>
            <figure class="col-lg-3 col-md-4 col-sm-6 text-center social-media-item">
                <a href="#">
                    <img src="img/social-shape/shape-4.png" alt="title">
                    <i class="fa fa-microphone-alt"></i>
                </a>
            </figure>
            <figure class="col-lg-3 col-md-4 col-sm-6 text-center social-media-item">
                <a href="#">
                    <img src="img/social-shape/shape-4.png" alt="title">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </figure>
            <figure class="col-lg-3 col-md-4 col-sm-6 text-center social-media-item">
                <a href="#">
                    <img src="img/social-shape/shape-2.png" alt="title">
                    <i class="fab fa-twitter"></i>
                </a>
            </figure>
            <figure class="col-lg-3 col-md-4 col-sm-6 text-center social-media-item">
                <a href="#">
                    <img src="img/social-shape/shape-1.png" alt="title">
                    <i class="fab fa-youtube"></i>
                </a>
            </figure>
        </div>
    </div>
</section>
<!--/.social-media end-->