<!--/.subscribe start-->
<section class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 m-auto text-center">
                <h6 class="mb-40 text-secondary-color">Subscribe</h6>
                <h3 class="font-weight-bold mb-80">Excepteur sint occaecat cupidatat non proident sunt in culpa
                    quim</h3>
                <form>
                    <div class="row subscribe-form">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-12 text-center btn-wrrap">
                            <input type="button" class="btn" value="SIGN UP">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--/.subscribe end-->