<!--/.welcome-area start-->
<section class="welcome-area">
    <article class="container text-center">
        <header class="mb-100">
            <h2 class="section-title">Welcome</h2>
            <img src="img/shape/shape.png" alt="title">
        </header>
        <p>Kira is a Men’s Wellness Advocate and Personal Empowerment Advisor, whose approach is a perfect blend of
            kaizen and neuroplasticity. She has a “no nonsense”, bold, and unique approach to guiding people who are
            ready to challenge their own status quo. to tackle this thing called “Life” head on! Her refreshing
            perspectives and practical advice has helped countless individuals recognize, harness, and activate
            their TRUE potential...</p>
        <h5 class="text-dark-light font-weight-bold mb-100">If you’re ready to break out of the status quo and are
            tired of the same old “just be positive” wellness sites that lack any real support or guidance, then
            WELCOME to K for Kira.</h5>
        <footer>
            <a href="#" class="sketch--btn--black" title="read more">
                <img src="img/btn/black-sketch.png" alt="read more">
                <span class="font-weight-bold">Read More <i class="fa fa-angle-right ml-1"></i></span>
            </a>
        </footer>
    </article>
</section>
<!--/.welcome-area end-->