<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kira</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    <!--All Google Font
    ============================================ -->
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!--All CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Font-awesome  CSS -->
    <link rel="stylesheet" href="css/all.min.css">

    <!-- Fancy-box  CSS -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">

    <!-- Slick CSS -->
    <link rel="stylesheet" href="css/slick.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizer JS -->
    <script src="js/modernizr-2.8.3.min.js"></script>
</head>
<body>