<!-- /.footer start -->
<footer class="footer-area footer-area__inner_page">
    <div class="container custom-container text-center">
        <nav>
            <ul class="list-inline top-menu mb-60">
                <li class="list-inline-item"><a href="story.html" class="nav-link">My Story</a></li>
                <li class="list-inline-item"><a href="podcasts.html" class="nav-link">Podcasts</a></li>
                <li class="list-inline-item"><a href="members.html" class="nav-link">Members</a></li>
                <li class="list-inline-item"><a href="need-help.html" class="nav-link">Need help? </a></li>
                <li class="list-inline-item"><a href="#">Log In</a></li>
            </ul>
        </nav>
        <a class="d-inline-block mb-60" href="index.html">
            <img src="img/logo/logo.png" alt="logo">
        </a>
        <ul class="list-inline social-icon mb-45">
            <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
        </ul>
        <nav>
            <ul class="list-inline bottom-menu mb-70">
                <li class="list-inline-item"><a href="#">REKOGNIZE</a></li>
                <li class="list-inline-item"><a href="#">CREDITS</a></li>
                <li class="list-inline-item"><a href="#">TERMS OF USE</a></li>
            </ul>
        </nav>
        <p class="text-copyright">© 2020 <a href="#">KforKira</a></p>
    </div>
</footer>
<!-- /.footer end -->