<!--/.header start -->
<header class="site-header site-header__absolute site-header__inner_header" id="header">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index.html">
            <img src="img/logo/logo.png" alt="logo">
        </a>
        <span class="button_container d-lg-none" id="toggle">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </span>
        <div class="overlay d-lg-none" id="overlay">
            <a class="navbar-brand" href="index.html">
                <img src="img/logo/logo.png" alt="logo">
            </a>

            <nav class="overlay-menu">
                <ul class="overlay-menu__mobile">
                    <li class="nav-item"><a href="story.html" class="nav-link">My Story</a></li>
                    <li class="nav-item"><a href="podcasts.html" class="nav-link">Podcasts</a></li>
                    <li class="nav-item"><a href="members.html" class="nav-link">Members</a></li>
                    <li class="nav-item"><a href="need-help.html" class="nav-link">Need help? </a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Log In</a></li>
                </ul>
            </nav>
            <div class="form-inline  d-flex justify-content-end my-lg-0">
                <ul class="list-inline social-icon mr-2">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                </ul>

                <a href="#" class="sketch--btn" title="sign up">
                    <img src="img/btn/white-sketch.png" alt="sign up">
                    <span>Sign Up</span>
                </a>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
                <li class="nav-item"><a href="story.html" class="nav-link">My Story</a></li>
                <li class="nav-item"><a href="podcasts.html" class="nav-link">Podcasts</a></li>
                <li class="nav-item"><a href="members.html" class="nav-link">Members</a></li>
                <li class="nav-item"><a href="need-help.html" class="nav-link">Need help? </a></li>
                <li class="nav-item"><a href="#" class="nav-link">Log In</a></li>
            </ul>
            <div class="form-inline  d-flex justify-content-start my-lg-0">
                <ul class="list-inline social-icon mr-2">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                </ul>

                <a href="#" class="sketch--btn" title="sign up">
                    <img src="img/btn/white-sketch.png" alt="sign up">
                    <span>Sign Up</span>
                </a>
            </div>
        </div>
    </nav>
</header>
<!--/.header end -->