<figure class="podcast-video text-center">
    <img class="bg-poster" src="img/video-poster/poster-bg-1.png" alt="">
    <img src="img/video-poster/poster-1.png" alt="profile"/>
    <a data-fancybox href="https://www.youtube.com/embed/9dXKGJ7jLsk?rel=0&amp;autoplay=1"
       class="video-link">
                                <span class="d-block play-btn">
                                    <img class="bg-play d-block" src="img/video-poster/play-bg.png" alt="play">
                                    <img class="play d-block" src="img/video-poster/left-play.png" alt="play">
                                    <img class="play d-block" src="img/video-poster/left-arrow-hover.png" alt="arrow">
                                </span>
    </a>
    <figcaption class="mt-2">
        <a href=""><h6 class="font-weight-black">Predefined Since Birth</h6></a>
    </figcaption>
</figure>

<!--<figure class="podcast-video text-center">-->
<!--    <img class="bg-poster" src="img/video-poster/poster-bg-2.png" alt="">-->
<!--    <img src="img/video-poster/poster-2.png" alt="profile"/>-->
<!--    <a data-fancybox href="https://www.youtube.com/embed/9dXKGJ7jLsk?rel=0&amp;autoplay=1"-->
<!--       class="video-link">-->
<!--                                <span class="d-block play-btn">-->
<!--                                    <img class="bg-play d-block" src="img/video-poster/play-bg.png" alt="play">-->
<!--                                    <img class="play d-block" src="img/video-poster/right-play.png" alt="play">-->
<!--                                    <img class="play d-block" src="img/video-poster/right-arrow-hover.png" alt="arrow">-->
<!--                                </span>-->
<!--    </a>-->
<!--    <figcaption class="mt-2">-->
<!--        <a href=""><h6 class="font-weight-black">Dear Kira: How Do I Deal With A Breakup?</h6></a>-->
<!--    </figcaption>-->
<!--</figure>-->